{% extends "base.html" %} {% block content %}
<div class="container">


    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Income</li>
            </ol>
        </nav>
        <h1>
            Addn Income
        </h1>


        <div class="card-body">
            <form action="{% url 'add-income' %}" method="POST">
                {% csrf_token %}{% include 'partials/_messages.html' %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="text" class="form-control form-control-sm" name='amount' value='{{values.amount}}'>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name='description' value='{{values.description}}'>
                </div>
                <div class="form-group">
                    <label for="">Source</label>
                    <select class='form-control' name="source" id="">
                        {% for source in sources %}
                        <option name="source" value="{{source.name}}">{{source.name}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Income</label>
                    <input type="date" class="form-control form-control-sm" name='income_date'>
                </div>
                <input type='submit' value='Submit' class='btn btn-outline-primary font-weight-bold rounded-pill'>
            </form>
        </div>



    </div>

</div>

{% endblock%}